@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

body {
  background: #f4f4f4;
  font-family: 'Lora', serif;
  font-size: 18px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
}
