@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

body {
  background-color: #f4f4f4;
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

/* CONTAINER */
.container {
  width: 700px;
  margin: 40px auto;
}

/* CARDS */
.card-white {
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

/* BUTTON */
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}
